@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* index.css */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; /* ✅ horizontal scroll/extra width hat jayega */
}
